* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazirmatn", sans-serif;
}

body {
  background: radial-gradient(circle at top, #0f2027, #203a43, #2c5364);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  color:white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 
}

.container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.card {
  background: rgba(20, 20, 20, 0.8);
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  animation: fadeIn 1s ease-in-out;

}

.title h1 {
  text-align: center;
  font-size: 28px;
  color: cyan;
  text-shadow: 0 0 10px cyan;
  margin-bottom: 20px;
}

.searchbox {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.inp {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 30%;
  font-size: 16px;
  direction: rtl;
}

.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: cyan;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #00e1ff;
  transform: scale(1.05);
}

.current {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 5px;
  height: 100px;

}

.weather_img {
  width: 120px;
  animation: float 3s ease-in-out infinite;
  display: none;
  margin-bottom: -10px;
}

.city {
  font-size: 25px;
  margin-bottom: 10px;
}

.temp {
  font-size: 45px;
  font-weight: bold;
  margin: 10px 0;
  color: #00e5ff;
  text-shadow: 0 0 15px #00f;
}

.mini {
  font-size: 18px;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.day {
  background: rgba(3, 197, 87, 0.849);
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.1);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 220px;

  &:hover {
    transform: scale(1.05);
    background: rgba(17, 107, 241, 0.775);
  }

  >strong {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #00e5ff;
  }

  >img {
    width: 80px;
    margin: 10px 0;
  }


}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* ////////////////////////////////footer///////////////// */
.hossein {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; 
  text-align: center;
}

.hossein figure {
  margin: 0;
}

.hossein figure img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.hossein figure img:hover {
  border-radius: 15px;
  transform: scale(1.2);
}

.hossein figure figcaption {
  font-size: 14px;
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 4px 8px;
  border-radius: 5px;
  opacity: 0;
  transition: 0.5s;
  margin-top: 8px;
}

.hossein figure:hover figcaption {
  opacity: 1;
}
